@model Monedero.Models.Movimiento

@{
    Layout = "_Layout";
    ViewData["Title"] = "Movimientos";
}

<h1>Detalle</h1>

<div>
    <h4>Movimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>
